<div class="wrapper" *ngIf="clients">
  <button id="addButton" mat-flat-button color="accent" (click)="openAddClientDialog()">+</button>

  <table mat-table [dataSource]="clients" class="mat-elevation-z8">

    <!-- id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id</th>
      <td mat-cell *matCellDef="let client"> {{client.id}} </td>
    </ng-container>

    <!-- fullName Column -->
    <ng-container matColumnDef="fullName">
      <th mat-header-cell *matHeaderCellDef> Full name</th>
      <td mat-cell *matCellDef="let client"> {{client.fullName}} </td>
    </ng-container>

    <!-- age Column -->
    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef> Age</th>
      <td mat-cell *matCellDef="let client"> {{client.age}} </td>
    </ng-container>

    <!-- grandTotalOfBalance Column -->
    <ng-container matColumnDef="grandTotalOfBalance">
      <th mat-header-cell *matHeaderCellDef> Grand total of balance</th>
      <td mat-cell *matCellDef="let client"> {{client.grandTotalOfBalance}} </td>
    </ng-container>

    <!-- maximumBalance Column -->
    <ng-container matColumnDef="maximumBalance">
      <th mat-header-cell *matHeaderCellDef> Maximum balance</th>
      <td mat-cell *matCellDef="let element"> {{element.maximumBalance}} </td>
    </ng-container>

    <!-- minimumBalance Column -->
    <ng-container matColumnDef="minimumBalance">
      <th mat-header-cell *matHeaderCellDef> Minimum balance</th>
      <td mat-cell *matCellDef="let element"> {{element.minimumBalance}} </td>
    </ng-container>

    <!-- minimumBalance Column -->
    <ng-container matColumnDef="options">
      <th mat-header-cell *matHeaderCellDef> Options</th>
      <td mat-cell *matCellDef="let element">
        <button mat-flat-button color="accent" (click)="openEditClientDialog(element)">...</button>
        <button mat-flat-button color="accent" (click)="deleteClient(element.id)">-</button>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</div>
