<button id="addButton" mat-flat-button color="accent" (click)="openAddClientDialog()">+</button>

<mat-form-field>
  <mat-label>Filter</mat-label>
  <input style="color: #ffffff" matInput (keyup)="applyFilter($event)" placeholder="by Full Name" #input>
</mat-form-field>
<div  class="mat-elevation-z8">
<table mat-table matSort [dataSource]="dataSource">

  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>Id</th>
    <td mat-cell *matCellDef="let client"> {{client.id}} </td>
  </ng-container>

  <!-- Full Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>Full Name</th>
    <td mat-cell *matCellDef="let client"> {{client.surname}} {{client.name}} {{client.patronymic}} </td>
  </ng-container>

  <!-- Charm Column -->
  <ng-container matColumnDef="charm">
    <th mat-header-cell *matHeaderCellDef>Charm</th>
    <td mat-cell *matCellDef="let client"> {{client.charm.name}} </td>
  </ng-container>

  <!-- Charm Column -->
  <ng-container matColumnDef="birth_date">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>Age</th>
<!--    todo: Нельзя использовать метод в html без вызова событии.
          Если будет какое то событие, например (click), метод исполнится один раз(или столько, сколько нажали)
          В этом случаем метод исполниться множество раз, что тратит впустую вычислительную мощность.
          Можешь посмотреть сколько раз, и когда calculateAge() будет отрабатывать внутри пропиши console.log()
          Ты должен расчитать возраст до этого момента в ts-->
    <td mat-cell *matCellDef="let client"> {{calculateAge(client.birth_date)}} </td>
  </ng-container>

  <!-- Total account balance Column -->
  <ng-container matColumnDef="total_account_balance">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>Total account balance</th>
<!--    <td mat-cell *matCellDef="let client">{{total_account_balance}}</td> heeeeeeeeeeeey it should be like this-->
    <td mat-cell *matCellDef="let client">0</td>
  </ng-container>

  <!-- Maximum balance Column -->
  <ng-container matColumnDef="maximum_balance">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>Maximum balance</th>
<!--    <td mat-cell *matCellDef="let client">{{maximum_balance}}</td> heeeeeeeeeeeey it should be like this-->
    <td mat-cell *matCellDef="let client"> 0</td>
  </ng-container>

  <!-- Minimum balance Column -->
  <ng-container matColumnDef="minimum_balance">
    <th mat-header-cell mat-sort-header *matHeaderCellDef >Minimum balance</th>
    <!--    <td mat-cell *matCellDef="let client">{{minimum_balance}}</td> heeeeeeeeeeeey it should be like this-->
    <td mat-cell *matCellDef="let client"> 0</td>
  </ng-container>

  <!-- Options Column -->
  <ng-container matColumnDef="Options">
    <th mat-header-cell *matHeaderCellDef> Options</th>
    <td mat-cell *matCellDef="let client">
      <button mat-flat-button color="accent" (click)="openEditClientDialog(client)">...</button>
      <button mat-flat-button color="accent" (click)="removeClient(client.id)">-</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
<mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>
</div>

<!-- todo: Лишние комментарии убрать-->
<!--<div *ngIf="clients" >-->
<!--  <table mat-table [dataSource]="clients" matSort-->
<!--         class="mat-elevation-z8">-->
<!--    &lt;!&ndash;     fullName Column &ndash;&gt;-->
<!--    <ng-container matColumnDef="fullName">-->
<!--      <th mat-header-cell *matHeaderCellDef> Full name</th>-->
<!--      <td mat-cell *matCellDef="let client" > {{client.surname}} {{client.name}} {{client.patronymic}} </td>-->
<!--    </ng-container>-->

<!--    &lt;!&ndash; charm Column &ndash;&gt;-->
<!--    <ng-container matColumnDef="charm">-->
<!--      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">Charm</th>-->
<!--      <td mat-cell *matCellDef="let client"> {{client.charm}} </td>-->
<!--    </ng-container>-->

<!--    &lt;!&ndash; charm Column &ndash;&gt;-->
<!--    <ng-container matColumnDef="age">-->
<!--      <th mat-header-cell *matHeaderCellDef> Age</th>-->
<!--      <td mat-cell *matCellDef="let client"> {{today.getFullYear() - client.birth_date.getFullYear()}} </td>-->
<!--    </ng-container>-->

<!--    &lt;!&ndash; grandTotalOfBalance Column &ndash;&gt;-->
<!--    <ng-container matColumnDef="grandTotalOfBalance">-->
<!--      <th mat-header-cell *matHeaderCellDef> Grand total of balance</th>-->
<!--      <td mat-cell *matCellDef="let client"> 0 </td>-->
<!--    </ng-container>-->

<!--    &lt;!&ndash; maximumBalance Column &ndash;&gt;-->
<!--    <ng-container matColumnDef="maximumBalance">-->
<!--      <th mat-header-cell *matHeaderCellDef> Maximum balance</th>-->
<!--      <td mat-cell *matCellDef="let element"> 0 </td>-->
<!--    </ng-container>-->

<!--    &lt;!&ndash; minimumBalance Column &ndash;&gt;-->
<!--    <ng-container matColumnDef="minimumBalance">-->
<!--      <th mat-header-cell *matHeaderCellDef> Minimum balance</th>-->
<!--      <td mat-cell *matCellDef="let element"> 0 </td>-->
<!--    </ng-container>-->

<!--    &lt;!&ndash; minimumBalance Column &ndash;&gt;-->
<!--    <ng-container matColumnDef="options">-->
<!--      <th mat-header-cell *matHeaderCellDef> Options</th>-->
<!--      <td mat-cell *matCellDef="let element">-->
<!--&lt;!&ndash;        <button mat-flat-button color="accent" (click)="openEditClientDialog(element)">...</button>&ndash;&gt;-->
<!--&lt;!&ndash;        <button mat-flat-button color="accent" (click)="deleteClient(element.id)">-</button>&ndash;&gt;-->
<!--      </td>-->
<!--    </ng-container>-->


<!--    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
<!--    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->

<!--  </table>-->
<!--</div>-->
