<p mat-dialog-title id="mat_dialog_title">{{action}} client
  <small> (* - the required fields)</small>
</p>

<div mat-dialog-content id="dialog">
  <!-- Детали клиента -->
  <form [formGroup]="clientForm">

    <!-- ФИО клиента -->
    <div class="inline">
      <p>Full name</p>
      <hr>
      <mat-form-field appearance="fill" class="form">
        <mat-label>Surname</mat-label>
        <input required formControlName="surname" type="text" matInput placeholder="client surname">
      </mat-form-field>

      <mat-form-field appearance="fill" class="form">
        <mat-label>Name</mat-label>
        <input required formControlName="name" type="text" matInput placeholder="client name">
      </mat-form-field>

      <mat-form-field appearance="fill" class="form">
        <mat-label>Patronymic</mat-label>
        <input formControlName="patronymic" type="text" matInput placeholder="client patronymic">
      </mat-form-field>
    </div>

    <!-- Пол клиента -->
    <div class="inline">
      <p>Gender</p>
      <hr>
      <mat-form-field class="form" appearance="fill">
        <mat-select formControlName="gender" required>
          <mat-option [value]="gender.MALE">MALE</mat-option>
          <mat-option [value]="gender.FEMALE">FEMALE</mat-option>
        </mat-select>
        <mat-label>Gender</mat-label>
      </mat-form-field>
    </div>

    <!-- Дата рождения клиента -->
    <div class="inline">
      <p>Date of birth</p>
      <hr>
      <mat-form-field appearance="fill" class="form">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-label>Date of birth</mat-label>
        <input required formControlName="birthDate" matInput [max]="maxDate" [matDatepicker]="picker">
      </mat-form-field>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </div>

    <!-- Характет клиента -->
    <div class="inline">
      <p>Charm</p>
      <hr>
      <mat-form-field appearance="fill" class="form">
        <mat-label>Charm</mat-label>
        <mat-select formControlName="charm" required>
          <mat-option *ngFor="let charm of charms" [value]="charm">
            {{charm.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Место регистрации -->
    <div class="inline" formGroupName="regAddress">
      <p>Address of registration and fact</p>
      <hr>
      <small>REG ADDRESS</small>
      <mat-form-field appearance="fill" class="form">
        <mat-label>Street</mat-label>
        <input required formControlName="street" type="text" matInput placeholder="client street">
      </mat-form-field>
      <mat-form-field appearance="fill" class="form">
        <mat-label>House</mat-label>
        <input required formControlName="house" type="text" matInput placeholder="client house">
      </mat-form-field>
      <mat-form-field appearance="fill" class="form">
        <mat-label>Flat</mat-label>
        <input required formControlName="flat" type="text" matInput placeholder="client flat">
      </mat-form-field>
    </div>

    <!-- Фактическое место проживания -->
    <div class="inline" formGroupName="factAddress">
      <small>FACT ADDRESS</small>
      <mat-form-field appearance="fill" class="form">
        <mat-label>Street</mat-label>
        <input formControlName="street" type="text" matInput placeholder="client street">
      </mat-form-field>

      <mat-form-field appearance="fill" class="form">
        <mat-label>House</mat-label>
        <input formControlName="house" type="text" matInput placeholder="client house">
      </mat-form-field>

      <mat-form-field appearance="fill" class="form">
        <mat-label>Flat</mat-label>
        <input formControlName="flat" type="text" matInput placeholder="client flat">
      </mat-form-field>
    </div>


    <!-- Телефоны клиента -->
    <div class="inline">
      <p>Phone</p>
      <hr>

      <div formArrayName="phones">
        <!-- Main phones-->
        <div class="inline">
          <label *ngFor="let item of phonesArrayControl.controls; let i = index">
            <label [formGroupName]="i">

              <mat-form-field appearance="fill" class="form">
                <mat-label>{{item.get('type').value}} phone</mat-label>
                <label *ngIf="i === 0">
                  <input required formControlName="number" type="text" matInput placeholder="mobile number">
                </label>

                <label *ngIf="i === 1">
                  <input formControlName="number" type="text" matInput placeholder="home number">
                </label>

                <label *ngIf="i === 2">
                  <input formControlName="number" type="text" matInput placeholder="work number">
                </label>

                <div *ngIf="i > 2">
                  <input formControlName="number" type="text" matInput placeholder="additional mobile phone">
                </div>
              </mat-form-field>
              <label *ngIf="i > 2">
                <button mat-mini-fab color="accent" color="accent" (click)="removeAdditionalMobilePhone()">-</button>
              </label>
            </label>
          </label>
        </div>


        <button *ngIf="availableAdditionalPhones > 0" mat-flat-button color="accent"
                (click)="addAdditionalMobilePhone()">
          + additional number
        </button>


      </div>

    </div>
  </form>
</div>

<button class="btnRight" mat-flat-button color="accent" mat-dialog-close>cancel</button>
<button class="btnRight" mat-flat-button color="accent" (click)="saveClient()">{{action}} client</button>




