<p mat-dialog-title id="mat_dialog_title">Add client
  <small style="font-size: 15px;"> (* - the required fields)</small>
</p>

<div mat-dialog-content id="dialog">
  <!-- Детали клиента -->
  <form [formGroup]="clientForm">

    <!-- ФИО клиента -->
    <div class="inline">
      <p>Full name</p>
      <hr>
      <mat-form-field appearance="fill" class="form">
        <mat-label>Surname</mat-label>
        <input required formControlName="surname" type="text" matInput placeholder="client surname">
      </mat-form-field>
      <mat-form-field appearance="fill" class="form">
        <mat-label>Name</mat-label>
        <input required formControlName="name" type="text" matInput placeholder="client name">
      </mat-form-field>
      <mat-form-field appearance="fill" class="form">
        <mat-label>Patronymic</mat-label>
        <input formControlName="patronymic" type="text" matInput placeholder="client patronymic">
      </mat-form-field>
    </div>

    <!-- Пол клиента -->
    <div class="inline">
      <p>Gender</p>
      <hr>
      <mat-form-field appearance="fill">
        <mat-select formControlName="gender" required>
          <mat-option [value]="gender.MALE">MALE</mat-option>
          <mat-option [value]="gender.FEMALE">FEMALE</mat-option>
        </mat-select>
        <mat-label>Gender</mat-label>
      </mat-form-field>
    </div>

    <!-- Дата рождения клиента -->
    <div class="inline">
      <p>Date of birth</p>
      <hr>
      <mat-form-field appearance="fill" style="margin-bottom: 15px">
        <mat-label>Date of birth</mat-label>
        <input formControlName="birth_date" matInput [max]="maxDate" [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <!-- Характет клиента -->
    <div class="inline">
      <p>Charm</p>
      <hr>
      <mat-form-field appearance="fill" style="margin-bottom: 15px">
        <mat-label>Charm</mat-label>
        <mat-select formControlName="charm" required>
          <mat-option *ngFor="let charm of charms" [value]="charm">
            {{charm.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Место регистрации -->
    <div class="inline" formGroupName="regAddress">
      <p>Address of registration and fact</p>
      <hr>
      <small style="font-size: 15px; margin-right: 15px">REG ADDRESS</small>
      <mat-form-field appearance="fill" class="form">
        <mat-label>Street</mat-label>
        <input required formControlName="street" type="text" matInput placeholder="client street">
      </mat-form-field>
      <mat-form-field appearance="fill" class="form">
        <mat-label>House</mat-label>
        <input required formControlName="house" type="text" matInput placeholder="client house">
      </mat-form-field>
      <mat-form-field appearance="fill" class="form">
        <mat-label>Flat</mat-label>
        <input formControlName="flat" type="text" matInput placeholder="client flat">
      </mat-form-field>
    </div>
    <button style="margin-bottom: 10px" *ngIf="!needFactAddresses" mat-flat-button color="accent"
            (click)="changeAddingFactAddress()">+FACT ADDRESS
    </button>


    <!-- Фактическое место проживания -->
    <div *ngIf="needFactAddresses" formGroupName="factAddress">
      <div class="inline">
        <small style="font-size: 15px; margin-right: 8px">FACT ADDRESS</small>
        <mat-form-field appearance="fill" class="form">
          <mat-label>Street</mat-label>
          <input formControlName="street" type="text" matInput placeholder="client street">
        </mat-form-field>

        <mat-form-field appearance="fill" class="form">
          <mat-label>House</mat-label>
          <input formControlName="house" type="text" matInput placeholder="client house">
        </mat-form-field>

        <mat-form-field appearance="fill" class="form">
          <mat-label>Flat</mat-label>
          <input formControlName="flat" type="text" matInput placeholder="client flat">
        </mat-form-field>
      </div>
      <button style="margin-bottom: 10px" mat-mini-fab color="accent" (click)="changeAddingFactAddress()">-</button>
    </div>


    <!-- Телефоны клиента -->
    <div class="inline">
      <p>Phone</p>
      <hr>

      <div formArrayName="phones">

        <div *ngFor="let item of phonesArrayControl.controls; let i = index">
          <div [formGroupName]="i">
            <div class="inline">
              <div *ngIf="i === 0">
                <mat-form-field appearance="fill" class="form">
                  <mat-label>Mobile phone</mat-label>
                  <input required formControlName="number" type="text" matInput placeholder="client flat">
                </mat-form-field>
                <button *ngIf="additionalPhones < 2" mat-mini-fab color="accent" (click)="addAdditionalMobilePhone()">+</button>
              </div>

              <div *ngIf="i === 1">
                <mat-form-field appearance="fill" class="form">
                  <mat-label>Home phone</mat-label>
                  <input formControlName="number" type="text" matInput placeholder="client flat">
                </mat-form-field>
              </div>

              <div *ngIf="i === 2">
                <mat-form-field appearance="fill" class="form">
                  <mat-label>Work phone</mat-label>
                  <input formControlName="number" type="text" matInput placeholder="client flat">
                </mat-form-field>
              </div>
            </div>
            <div *ngIf="i > 2">
              <mat-form-field appearance="fill" class="form">
                <mat-label>Additional mobile phone</mat-label>
                <input formControlName="number" type="text" matInput placeholder="client flat">
              </mat-form-field>
              <button mat-mini-fab color="accent" color="accent" (click)="removeAdditionalMobilePhone()">-</button>
            </div>
          </div>
        </div>


      </div>

      <!--    <div  formArrayName="phones" *ngFor="let phone of phonesArrayControl.controls; let i = index;" (submit)="addP()">-->
      <!--      <div [formGroupName]="i">-->
      <!--        <input formControl="number">-->
      <!--      </div>-->
      <!--    </div>-->


      <!--    <div  formArrayName="phones">-->
      <!--      <div *ngFor="let phone of phonesArrayControl.controls; let i = index;">-->
      <!--        <div [formGroupName]="i">-->
      <!--          <input formControlName="number" type="text" matInput placeholder="client flat">-->
      <!--        </div>-->
      <!--      </div>-->
      <!--    </div>-->
    </div>
  </form>
</div>
<button style="float: right" mat-flat-button color="accent" mat-dialog-close>Cancel</button>
<button style="float: right" mat-flat-button color="accent" (click)="addClient()">Add client</button>




